pin-depends: [
  [ "jsoo-react.dev" "git+https://github.com/sim642/jsoo-react.git#57c4bde195ea572070c3c38ee7f44aa01767b936" ]
  [ "zarith.1.12-gob0" "git+https://github.com/goblint/Zarith.git#goblint-release-1.12" ]
]
