@import '~bootstrap/scss/bootstrap';

.main {
  padding-top: 48px;
}

.fun-cfg {
  min-height: 0;
  flex-grow: 1;
}

.text-link {
  text-decoration: none;
}

.link-like:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tab-content {
  padding-top: ($spacer * .5) !important;
}

/* Remove default bullets */
ul {
  list-style-type: none;
  padding-left: 10px;
  font-size: small;
}
